.sidebar{
    width: 250px;
    position: fixed;
    min-height: 100vh;
    background: #263544;
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;

    transition: width .25s ease;
    -webkit-transition: width .25s ease;
    -moz-transition: width .25s ease;
    -ms-transition: width .25s ease;

    .ant-menu-dark, .ant-menu-dark .ant-menu-sub{
        background: #263544;
    }
    .ant-menu-dark .ant-menu-inline.ant-menu-sub{
        background: #263544;
    }
    .ant-menu-item .anticon{
        font-size: 17px;
    }
}

.collapsed {
    .sidebar{
        width: 80px;
        a.navbar-brand{
            margin-left: 14px;
        }
    }
}